/* Base Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    width: 90%;
    max-width: 500px;
    text-align: center;
    transform: scale(0.9);
    opacity: 0;
    animation: fadeIn 0.7s forwards 0.5s;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background: #007BFF;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.google-signup {
    background-color: #db4437;
    margin-bottom: 20px;
}

.or-divider {
    position: relative;
    margin: 20px 0;
}

.or-divider span {
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding: 0 10px;
}

.or-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ccc;
    z-index: 1;
}

form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
    transition: border-color 0.3s, transform 0.2s;
}

form input:focus {
    border-color: #007BFF;
    outline: none;
    transform: scale(1.05);
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}